{% extends 'base.html' %}

{% block page_title %}Unsubscribe{% endblock %}

{% block content %}
    <div class="frame basic-page">
        <div class="frame--inner basic-page--body">
            {% if unsubscribed %}
                <h4>
                    Thank you, {{ unsubscribed }} will be removed from our mailing list.
                </h4>
            {% else %}
                <h4>
                    Please confirm your unsubscribe request by entering your email address and clicking on the "Unsubscribe" button below.
                </h4>

                <form method="post" class="form--basic">
                    {% csrf_token %}
                    {{ form.errors }}
                    <div class="input-group">
                        {% include 'includes/_field.html' with field=form.email %}
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary btn-submit">Unsubscribe</button>
                        </span>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>

{% endblock %}
